.wbp-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    width: 400px;
    padding: 30px;
    flex-direction: column;

    .control {
      display: flex;
      justify-content: space-between;
      align-items: end;
      align-items: flex-start;

      a {
        color: #5e5e5e;
        text-decoration: none;
      }
    }

    .divisor {
      border-top: 1px solid #a0a0a0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

button {
  width: 100px;
  background-color: #58b7d3;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  font-weight: 500;
  outline: none;
}
