/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;

  p {
    margin: 0;
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}

.wbp-input {
  padding: 4px 15px 4px 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #a0a0a0;

  input {
    width: 100%;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    color: #5e5e5e;
  }
}
