.wbp-container {
  background-color: #353944;
  padding: 10px 15px 10px 15px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  input {
    background: transparent;
    border: none;
    outline: none;
    color: #cccccc;
  }
}